<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>sertShop</title>
  </head>

  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">sertShop</a>
        </div>
        <div>
            <a href="cart.html">cart</a>
            <a href="signin.html">signin</a>
        </div>
      </header>
      <main>
          <ul>
              <li>
                  product1
              </li>
              <li>product 2</li>
              <li>product 3</li>
          </ul>


      </main>
      <footer class="row center">
          copy right 2020 sertshop
      </footer>
    </div>
  </body>
</html>
